<body>
    <h1>mi sitio de Astro</h1>

    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>

    <h1>Sobre mi</h1>
    <h2>... y mi nuevo sitio de ASTROOO!</h2>

    <p>Estoy trabajando en el tutrial introductorio de astro. Esta es la segunda pagina de mi sitio web que yo mismo estoy creando</p>

    <p>Este sitio se irá actualizando a medida que vaya completando mas partes del tutorial asi que no dejes de visitarlo para ver el proceso! </p>


</body>