---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro'
import Nav from '../components/Nav.astro'

---

<Layout title="Angel Olea Portafolio">
	<Nav />
	<main>
		<section>
			<h1>Hola, bienvenido</h1>
			<p>Soy un programador frontend recien egresado del instituto profesional Aiep de la carrera "Programación y Análisis de sistemas" y en busco oportunidades de adquirir mas conocimiento a base de experiencia.</p>
			<a href="/CV-Ángel-Olea-Donoso.pdf" download>
				<button>Descargar CV</button>
			</a>
		</section>

		<section id="sobre-mi">
			<h2>Sobre mi</h2>
			<p>Hola, soy Angel Olea, un desarrollador frontend con gran entusiasmo por crear diseños web 
				atractivos y funcionales. Aquí estan las herramientas y tecnologías con las que suelo trabajar:</p>
			<ul>
				<li>
					<img src="/icons/HTML.png" alt="HTML"  height="60px"/>
					<span>HTML</span>
				</li>
				<li>
					<img src="/icons/CSS.png" alt="CSS" height="60px" />
					<span>CSS</span>
				</li>
				<li>
					<img src="/icons/JS.png" alt="JAVASCRIPT" height="60px"/>
					<span>JAVASCRIPT</span>
				</li>
				<li>
					<img src="/icons/REACT.png" alt="REACT" height="60px"/>
					<span>REACT</span>
				</li>
				<li>
					<img src="/icons/NEXTJS.png" alt="NEXT.JS" height="60px"/>
					<span>NEXT.JS</span>
				</li>
				<li>
					<img src="/icons/TAILWINDCSS.png" alt="TAILWIND CSS" height="50px">
					<span>TAILWIND CSS</span>
				</li>
				<li>
					<img src="/icons/ASTRO.png" alt="ASTRO" height="50px">
					<span>ASTRO</span>
				</li>
			</ul>

		</section>
		<section id="Contacto">
			<h1>Contacto</h1>
			<form action="https://formspree.io/f/xpzvewzn" method="POST">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required />

                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required />

                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" rows="4" required></textarea>

                <button type="submit">Enviar</button>
            </form>
		</section>

	</main>
	<Footer />

</Layout>


<style>
	h1, h2, p, ul, li {
		color: aliceblue;
	}
	button {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
    button:hover {
        background-color: #45a049; 
	}
	ul {
		list-style-type: none;
		padding-left: 0;
	}
	ul li{
		display: inline-block;
		margin-right: 20px;
		text-align: center;
	}
	ul li img{
		display: block;
		margin: 0 auto;
	}
	ul li span {
		display: block;
		margin-top: 5px;
	}
	section {
		margin-bottom: 20px;
	}
	form {
		display: flex;
		flex-direction: column;
		max-width: 600px;
		margin: 0 auto;
	}
	label {
		margin-top: 10px;
		color: aliceblue;
	}
	input, textarea {
		padding: 10px;
		margin-top: 5px;
		border: none;
		border-radius: 4px;
	}
	input[type="text"], input[type="email"], textarea {
		width: 100%;
		box-sizing: border-box;
	}
	button[type="submit"] {
		margin-top: 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
	}
	button[type="submit"]:hover {
		background-color: #45a049;
	}

</style>

