---
import Layout from '../layouts/Layout.astro';

import Aviso from '../components/Aviso.astro';


const Nombre = "Angel Olea";
---

<Layout title="Angel Olea Portafolio">
    <main class="profile-main">
        <section id="bienvenida" class="section profile-section">
            <h1 class="heading">Hola, soy {Nombre}</h1> 
            <div class="image-container">
                <img class="profile-img" src="/yo.jpg" alt="Foto de perfil" />
            </div>
            <div class="status">
                <Aviso message="Disponibilidad inmediata" />
            </div>
            <p>Soy un programador frontend recién egresado del instituto profesional Aiep de la carrera "Programación y Análisis de sistemas" y busco oportunidades de adquirir más conocimiento a base de experiencia.</p>
            <a href="/CV-Ángel-Olea-Donoso.pdf" download>
                <button>Descargar CV</button>
            </a>
        </section>

        <section id="sobre-mi" class="profile-section">
            <h2 id="h2-sobre-mi" class="section-heading">Sobre mí</h2>
            <p>Soy un desarrollador frontend con gran entusiasmo por crear diseños web 
                atractivos y funcionales. Aquí están las herramientas y tecnologías con las que suelo trabajar:</p>
            <ul class="skills-list">
                <li>
                    <img src="/icons/HTML.png" alt="HTML" height="60px"/>
                    <span>HTML</span>
                </li>
                <li>
                    <img src="/icons/CSS.png" alt="CSS" height="60px" />
                    <span>CSS</span>
                </li>
                <li>
                    <img src="/icons/JS.png" alt="JAVASCRIPT" height="60px"/>
                    <span>JAVASCRIPT</span>
                </li>
                <li>
                    <img src="/icons/REACT.png" alt="REACT" height="60px"/>
                    <span>REACT</span>
                </li>
                <li>
                    <img src="/icons/NEXTJS.png" alt="NEXT.JS" height="60px"/>
                    <span>NEXT.JS</span>
                </li>
                <li>
                    <img src="/icons/TAILWINDCSS.png" alt="TAILWIND CSS" height="50px">
                    <span>TAILWIND CSS</span>
                </li>
                <li>
                    <img src="/icons/ASTRO.png" alt="ASTRO" height="50px">
                    <span>ASTRO</span>
                </li>
            </ul>
        </section>

        <section id="Contacto" class="profile-section">
            <h2 id="h2-contacto" class="section-heading">Contacto</h2>
            <form action="https://formspree.io/f/xpzvewzn" method="POST" class="contact-form">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required />
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required />
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>

</Layout>

<style>
    body {
        background: #171a21;
        color: #c7d5e0;
        font-family: "Poppins", sans-serif;
    }
    .profile-main {
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .profile-section {
        background: #1b2838;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
    }
    .heading, .section-heading {
        color: #ffffff;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .image-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .profile-img {
        border-radius: 50%;
        border: 4px solid #2a475e;
        width: 150px;
        height: 180px;
    }
    .status {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    p {
        font-size: 1.1rem;
        line-height: 1.6;
        margin-bottom: 20px;
    }
    a button, button[type="submit"] {
        background-color: #5c7e10; 
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px;
    }
    a button:hover, button[type="submit"]:hover {
        background-color: #4b6910; 
    }
    .skills-list {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skills-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        text-align: center;
    }
    .skills-list li img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        height: 60px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    label {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    input, textarea {
        padding: 10px;
        border: 1px solid #c7d5e0;
        border-radius: 4px;
        background: #171a21;
        color: #c7d5e0;
    }
    input:focus, textarea:focus {
        outline: none;
        border-color: #5c7e10;
    }

</style>
