---
// src/components/Nav.astro
---
<header>

    <nav>
        <ul>
            <li><a href="#bienvenida"> Bienvenida</a></li>
            <li><a href="#sobre-mi">Sobre mi</a></li>
            <li><a href="#Contacto">Contacto</a></li>
        </ul>
    </nav>

</header>

<style>

    nav {
        display: flex;
        opacity: 0.8;
        
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: x-large;
        background-color: #333;
        z-index: 1000;
        
    }
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        margin-right: 1.5rem;
    }
    li:last-child {
        margin-right: 0;
    }
    a{
        color:white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    body {
        padding-top: 3.5rem;
    }
</style>
