---
import Nav from '../components/Nav.astro';
import Background from '../components/Background.astro';
import '@fontsource/poppins/400.css';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Background />
    <Nav />

    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "poppins", system-ui, sans-serif;
    scroll-behavior: smooth;
    
  }
  body {
    background: linear-gradient(to bottom, #1a2a6c, #b21f1f, #fdbb2d);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .background-svg-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  .background-svg-container svg {
    width: 100%;
    height: auto;
    display: block;
  }
  .top-svg svg {
    transform: rotate(0deg);
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
